body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-weight: 100
}

.button_name {
    font-weight: 900;
}

.asteroid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 4vw repeat(4, 20vw 4vw);
    grid-template-rows: 4vh repeat(4, 20vh 4vh);
    z-index: 0;
}

.asteroid_inputs_main {
    grid-row: 4 / 7;
    grid-column: 4 / 7;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 5px;
}

.asteroid_input_instructions {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgba(150,150,150,0.6);

}

.asteroid_input_section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 40%;
    margin: 10px 0;
    padding: 10px 0;
    /*border-radius: 5px;*/
    color: white;
    background-color: rgba(150,150,150,0.6);
}

.asteroid_input_section:nth-child(1n+2) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.asteroid_input_section:nth-child(1n+3) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.asteroid_input_label {
    width: 100%;
    margin-bottom: 5px;
}

.asteroid_req_send {
    width: 100%;
    color: white;
    background-color: rgba(150,150,150,0.6);
    text-align: center;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.asteroid_inputs_alternate {
    grid-row: 1 / 3;
    grid-column: 1 / 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
}

.asteroid_inputs_alternate > .asteroid_input_instructions {
    display: none;

}

.asteroid_inputs_alternate > .asteroid_input_section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 25%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    background-color: rgba(150,150,150,0.6);
}

.asteroid_inputs_alternate .asteroid_input_label {
    padding: 5px;
    margin-bottom: 0px;
}

.asteroid_inputs_alternate > .asteroid_req_send {
    width: 35%;
    color: white;
    background-color: rgba(150,150,150,0.6);
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.asteroid_req_send:hover {
    background-color: rgba(0,0,0,0.8);
}

.background_info_switch_container {
    grid-row: 8 / 10;
    grid-column: 8 / 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background_info_switch_container > .asteroid_req_send {
    width: 80%;
    font-size: 1em;
    margin: 50px;
}

.asteroid_list {
    grid-row: 4 / 9;
    grid-column: 2 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
}

.neo_section {
    background-color: rgba(200,200,200,0.5);
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.neo_name, .neo_link, .neo_dangerous {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.neo_name {
    width: 40%;
    font-size: 1.25em;
    background-color: black;
    color: white;
    font-weight: 500;
}

.neo_link {
    width: 30%;
    font-size: 0.75em;
    text-decoration: none;
}

.neo_dangerous {
    width: 30%;
    color: white
}

.danger {
    background-color: red;
}

.no_danger {
    background-color: green;
}
